.Header {
	grid-area: header;
	padding: 32px;
	color: var(--blue);
	text-align: center;
	border-bottom: 2px solid var(--blue);

	@media print { 
		padding: 0 0 1cm 0;
	}

	
	&__Name {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

		margin: 0;

		font-size: 40px;
		text-transform: uppercase;
	}

	&__JobTitle {
		color: var(--blue-gray);
		font-size: 20px;
		text-transform: uppercase;
	}
}