.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header  header"
  "sidebar content";
  background-color: #fff;
  color: #444;
  min-height: 100vh;
  min-width: 380px;

  @media only screen and (max-width: 730px) {
    grid-template-areas:
    "header"
    "sidebar"
    "content";
    grid-template-columns: 100%;
	}

  @media print { 
    .header-left-top, .a-right-bottom, .time-right-bottom {
      display: none;
    }

    margin: 1cm 0 1cm 0;
  }
}
